{% load static %}
<!doctype html>
<html lang="ko">

<head>
    {#    Required meta tags#}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    Bootstrap Css#}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- rankybo CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'simplemde.min.css' %}">


    <title> Hello, 랭키스탁! </title>

</head>

<body>

{% include "navbar.html" %}

{#기본 템플릿 안에 삽입될 내용 Start#}
{% block content %}
{% endblock %}
{#기본 템플릿 안에 삽입될 내용 End#}


<script src="{% static 'simplemde.min.js' %}"></script>


{#jQuery JS#}
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>

{#Bootstrap JS#}
<script src="{% static 'bootstrap.min.js' %}"></script>


{#자바스크립트 시작#}
{% block script %}

{% endblock %}
{#자바스크립트 끝#}

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "11cdf57530a9e70";
    if (window.wcs) {
        wcs_do();
    }
</script>

</body>
</html>